body .sender[type*=normal][colornumber='0'],
body .inline_nickname[colornumber='0'] {
  color: DarkBlue;
}
body .sender[type*=normal][colornumber='1'],
body .inline_nickname[colornumber='1'] {
  color: blue;
}
body .sender[type*=normal][colornumber='2'],
body .inline_nickname[colornumber='2'] {
  color: DarkTurquoise ;
}
body .sender[type*=normal][colornumber='3'],
body .inline_nickname[colornumber='3'] {
  color: royalblue;
}
body .sender[type*=normal][colornumber='4'],
body .inline_nickname[colornumber='4'] {
  color: steelblue;
}
body .sender[type*=normal][colornumber='5'],
body .inline_nickname[colornumber='5'] {
  color: darkgreen;

}
body .sender[type*=normal][colornumber='6'],
body .inline_nickname[colornumber='6'] {
  color: forestgreen;
}
body .sender[type*=normal][colornumber='7'],
body .inline_nickname[colornumber='7'] {
  color: saddlebrown;
}
body .sender[type*=normal][colornumber='8'],
body .inline_nickname[colornumber='8'] {
  color: purple ;
}
body .sender[type*=normal][colornumber='9'],
body .inline_nickname[colornumber='9'] {
  color: mediumpurple ;
}
body .sender[type*=normal][colornumber='10'],
body .inline_nickname[colornumber='10'] {
  color:#3c0;
}
body .sender[type*=normal][colornumber='11'],
body .inline_nickname[colornumber='11'] {
  color:olivedrab;
  
}
body .sender[type*=normal][colornumber='12'],
body .inline_nickname[colornumber='12'] {
  color:darkseagreen;
  
}
body .sender[type*=normal][colornumber='13'],
body .inline_nickname[colornumber='13'] {
  color:yellowgreen;
}

body .sender[type*=normal][colornumber='14'],
body .inline_nickname[colornumber='14'] {
  color:brown;
  
}
body .sender[type*=normal][colornumber='15'],
body .inline_nickname[colornumber='15'] {
  color:MediumVioletRed ;
}
body .sender[type*=normal][colornumber='16'],
body .inline_nickname[colornumber='16'] {
  color:grey;
}
body .sender[type*=normal][colornumber='17'],
body .inline_nickname[colornumber='17'] {
  color:dodgerblue;
}
body .sender[type*=normal][colornumber='18'],
body .inline_nickname[colornumber='18'] {
  color:tan;
}
body .sender[type*=normal][colornumber='19'],
body .inline_nickname[colornumber='19'] {
  color:chocolate;
}
body .sender[type*=normal][colornumber='20'],
body .inline_nickname[colornumber='20'] {
  color:indianred;
}
body .sender[type*=normal][colornumber='21'],
body .inline_nickname[colornumber='21'] {
  color:lightgreen;
}
body .sender[type*=normal][colornumber='22'],
body .inline_nickname[colornumber='22'] {
  color:#c00;
}
body .sender[type*=normal][colornumber='23'],
body .inline_nickname[colornumber='23'] {
  color:darkkhaki;
}
body .sender[type*=normal][colornumber='24'],
body .inline_nickname[colornumber='24'] {
  color:coral;
}
body .sender[type*=normal][colornumber='25'],
body .inline_nickname[colornumber='25'] {
  color:darkorange;
}
body .sender[type*=normal][colornumber='26'],
body .inline_nickname[colornumber='26'] {
  color:deeppink;
}
body .sender[type*=normal][colornumber='27'],
body .inline_nickname[colornumber='27'] {
  color:skyblue;
}
body .sender[type*=normal][colornumber='28'],
body .inline_nickname[colornumber='28'] {
  color:thistle;
}
body .sender[type*=normal][colornumber='29'],
body .inline_nickname[colornumber='29'] {
  color:#6cf;
}
body .sender[type*=normal][colornumber='30'],
body .inline_nickname[colornumber='30'] {
  color:black;
}
