/* Basic Body Structure */

* {
	margin: 0;
	padding: 0;
	font-size: 100%;
  	word-wrap: break-word;
}

body {
	color: #000;
	height: 100%;
 	z-index: 100;
	font-size: 12px;
	overflow: hidden;
	overflow-y: visible;
	background-color: #fff;
	font-family: "Lucida Grande";
/*  background:url(Data/Resources/linen.png);*/
}

#loading_screen { display:none; }

/* tables, yeah */

div#body_home {
/*  display:table;*/
  table-layout:fixed;
  border-collapse:separate;
	border-spacing:0px;
	background:#fff;

  position:absolute;
  bottom:0;
  right:0;
  left:0;
  }

body[type="channel"] div#body_home,
body[type="query"] div#body_home {
  max-height: 96.5%;
}

body[type="server"] div#body_home {
  max-height: 100%;
}

div.line { display:table-row; }
div#mark { display:table-row; }
div.line .nick { display:table-cell; }
div#mark .blank,
div.line .blank { display:table-cell; }
div.line .msg { display:table-cell; }

.msg,
.msg p,
.msg p span.message
{
  word-wrap:break-word;
  word-break: break-all;
  word-break: normal;
}

/* Remember Line */

div#mark {
  position: relative;
  z-index: 295;
/*  margin-top: -1px;*/
/*  border-bottom: 2px dotted;*/
  border-color: #c00;
  -webkit-transition: 0.2s linear;
  font-size:1px;
}

div#mark div { border-bottom: 2.5px dotted #c33; }

/* Links */

a {
  color: #00e;
  border-color: #00e;
  text-decoration: none;
  border-bottom: dotted 1px;
}

a:hover {
  color: #0080FF;
  border-color: #0080FF;
}

/* Topic Bar */

#topic_bar {
  top: 0;
  left: 0;
  right: 0;
  color: #000;
  z-index: 400;
  opacity: 0.95;
  font-size: 10px;
  position: fixed;
  background: #CFD4DD;
  padding:0.5em;
  border-bottom: 1px solid #8387B6;
  -webkit-box-shadow: 0 1px 5px #777;
}


#topic_bar a {
  color: #00e;
  border-color: #00e;
}

#topic_bar a:hover {
  color: #0080FF;
  border-color: #0080FF;
}

/* Images */

body a img {
    border: 0;
}

body img {
    display: block;
    max-width: 95%;
    padding-top: 5px;
    padding-left: 8px;
    padding-bottom: 5px;
}

body .inlineImageCell {
  display:block;
}

body .inlineImageCell .closeButton {
  cursor: pointer;
}


/* Nickname Colors */

/*body p[type=myself] .message {*/



/*body .inline_nickname[colornumber] { color:inherit !important; }*/


/* bonfire */

.line .message {
  color:#222;
}


.line[mtype=myself] .message {
	color: #333 !important;
}


.chatlog .line div {
	border-bottom:1px solid #eee;
	padding:5px 6px;
}

.chatlog .line[mtype=myself] div
{
	background:#ffffd7 !important;
  background:#FFfacc !important;
  background:#e1eaf4 !important;
	border-bottom:0px;
}

.chatlog .line span.time
{
  display:none;
}

.chatlog div.nick
{
	text-align:right;
	vertical-align:top;
	xbackground:#eee;
	border-right:1px solid #eee;
  width:17%;
	color:#444;
	white-space:nowrap;
  font-weight:600;

  max-width:12em;
  min-width:120px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.chatlog .line[mtype=myself] div.nick
{
  font-weight:normal;
}

.chatlog div.msg
{
  padding-right:8px;
	padding-left:8px;
	width:83%;
}

.chatlog div.msg a
{
	display:inline-block;
	white-space:nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.chatlog div.msg a.hasinlineimage
{
  display:block;
}

/*.chatlog .line[type=part] div,
.chatlog .line[type=quit] div
{
  overflow: hidden;
  text-overflow: ellipsis;

}
.chatlog .line[type=part] div .message,
.chatlog .line[type=quit] div .message
{
  display:block;
  overflow: hidden;
  white-space:nowrap;
  text-overflow: ellipsis;
}
*/

.chatlog .line[type=privmsg][highlight=true] div,
.chatlog .line[type=action][highlight=true] div {
	background:#CF6 !important;
	background:#D6FF88 !important;
}

/* icing */

.chatlog .line[type='notice'] .nick .sender { color:#333 !important }
.chatlog .line[type='notice'] .msg { color:#963;
/*  background: #FDEAC0;*/
  color:#222;
  }
.chatlog .line[type='ctcp'] div
{
	font-size:0.9em;
	background:#C7EDA5;
}


.chatlog .line[type='debug'] .msg {
	color:#060;
	font-size:0.8em;
	background:#F2F7EA;
	}
/*.chatlog .line[type='reply'] .msg:before { content: "\2022 "; }*/

.chatlog .line[type='mode'] div,
.chatlog .line[type='topic'] div,
.chatlog .line[type='website'] div
{
	font-size:0.9em;
	background:#d9e7fb;
	border-bottom:1px solid #C8D9F2;
}

.chatlog .line[type='quit'] div { font-size:0.8em; color:#999; }
.chatlog .line[type='part'] div { font-size:0.8em; color:#999; }
.chatlog .line[type='join'] div { font-size:0.8em; color:#696; }
.chatlog .line[type='nick'] div { font-size:0.8em;
  color:#999; }

/*.chatlog .line[type='topic'] td { border-right:0; border-left:0; }*/
.chatlog .line[type='mode'] div { border-right:0; border-left:0; }


/* actions */
.chatlog .line[type=action] .message {}
.chatlog .line[type=action] .message:before {
	content: "●";
/*	margin-right: 0.4em;*/
}

.chatlog .line[type=action] .message:after {
	content: "●";
}

/* join part */

.chatlog .line[type=join] div:first-child:before ,
.chatlog .line[type=join] .xmessage:before {
	content: "→";
  	margin-right: 3px;
}
 { text-align:right; padding-right:0; }

.chatlog .line[type=kick] div:first-child:before,
.chatlog .line[type=part] div:first-child:before,
.chatlog .line[type=quit] div:first-child:before {
	content: "←";
  	margin-right: 3px;
}

.chatlog .line[type=join] div:first-child,
.chatlog .line[type=kick] div:first-child,
.chatlog .line[type=part] div:first-child,
.chatlog .line[type=quit] div:first-child,
.chatlog .line[type=nick] div:first-child
{
  text-align:right; padding-right:0;
}

.chatlog .line[type=join] div:last-child,
.chatlog .line[type=kick] div:last-child,
.chatlog .line[type=part] div:last-child,
.chatlog .line[type=quit] div:last-child,
.chatlog .line[type=nick] div:last-child
{
  padding-left:3px;
}


.chatlog .line[type=nick] div:first-child:after {
  text-align:right;
	content:"•";
  margin-right: 2px;
}

.chatlog .line.time div
{
	padding-top:15px;
	background:white;
	font-size:0.75em;
	color:#777;
	border-left:0px;
	border-right:0px;
}

/* status */

#status
{
  background:rgba(0,0,0,0.75);
  width:50%;
  position:fixed;
  top:45%;
  left:25%;
  font-family:'Helvetica Neue';
  padding:20px;
  border-radius:5px;
}
#status p
{
  font-weight:300;
  font-size:2em;
  text-align:center;
  color:white;
}

/* blankslate */

#hello
{
  background:url(Data/Resources/linen.png);
  background:#f7f7f7;
  display:table;
  margin:auto;
  height:100%;
  width:100%;
  font-family:'Helvetica Neue', Helvetica, sans-serif;
}
#hello img#appicon
{
  text-align:center;
  margin:0 auto;
  margin-bottom:15px;
}

#hello div
{
  height:100px;
  display:table-cell;
  text-align:center;
  vertical-align:middle;
}


#hello .channel
{
  border-radius:5px;
  padding:5px 10px;
  font-weight:500;
  xbackground:rgba(255,255,255,0.2);
  color:#333;
  font-size:3em;
/*  box-shadow:0px 0px 5px #666;*/
}

#topic_bar { display:none; }

#hello p
{
/*  background:rgba(255,255,255,0.5);*/
  xtext-shadow:1px 1px 0px #666;
  margin-top:0.5em;
  font-size:2em;
  color:#777;
  font-weight:200;
/*  box-shadow:0px 1px 10px #666;*/
}






