{{#inlineNicknameMatchFound}}<span class="inline_nickname" ondblclick="Textual.inlineNicknameDoubleClicked()" oncontextmenu="Textual.openInlineNicknameContextualMenu()" colornumber="{{inlineNicknameColorNumber}}">{{/inlineNicknameMatchFound}}
{{#fragmentContainsFormattingSymbols}}
  {{#fragmentIsBold}}<b {{/fragmentIsBold}}
  {{#fragmentIsItalicized}}<i {{/fragmentIsItalicized}}
  {{#fragmentIsUnderlined}}<u {{/fragmentIsUnderlined}}

	{{#fragmentTextColor}}
		color-number="{{fragmentTextColor}}" 
	{{/fragmentTextColor}}
	
	{{#fragmentBackgroundColor}}
		bgcolor-number="{{fragmentBackgroundColor}}" 
	{{/fragmentBackgroundColor}}
>

{{/fragmentContainsFormattingSymbols}}
{{{messageFragment}}}
{{#fragmentContainsFormattingSymbols}}
  {{#fragmentIsBold}}</b>{{/fragmentIsBold}}
  {{#fragmentIsItalicized}}</i>{{/fragmentIsItalicized}}
  {{#fragmentIsUnderlined}}</u>{{/fragmentIsUnderlined}}
{{/fragmentContainsFormattingSymbols}}
{{#inlineNicknameMatchFound}}</span>{{/inlineNicknameMatchFound}}