<div type="{{lineType}}" 
	highlight="{{highlightAttributeRepresentation}}" 
	class="line raw {{lineClassAttributeRepresentation}}" 
	nicktype="{{nicknameType}}"
	id="line{{lineNumber}}">

	<div class="nick">
  	<span class="sender"
  		ondblclick="Textual.nicknameDoubleClicked()" 
  		oncontextmenu="Textual.openStandardNicknameContextualMenu()" 
  		type="{{nicknameType}}" 
  		nick="{{nickname}}" 
  		{{#nicknameColorHashingEnabled}} 
  			colornumber="{{nicknameColorNumber}}"
  		{{/nicknameColorHashingEnabled}}>{{formattedNickname}}</span>
	</div>
		<div class="msg">
{{#isRemoteMessage}}
	<p>
{{/isRemoteMessage}}

{{^isRemoteMessage}}
	<p type="{{nicknameType}}">
{{/isRemoteMessage}}

		<span class="time">{{formattedTimestamp}} </span>
		<span class="message">
					{{{formattedMessage}}}
					
					{{#inlineMediaAvailable}}
						{{#inlineMediaArray}}
							<a href="{{{anchorLink}}}" onclick="return Textual.hideInlineImage(this)"><img src="{{{imageURL}}}" class="inlineimage" style="max-width: {{preferredMaximumWidth}}px;" title="Hide image by shift clicking." /></a>
						{{/inlineMediaArray}}
					{{/inlineMediaAvailable}}
		</span>
	</p>
	</div>
</div>