{{! The 'line types' folder needs to be copied to a custom style to modify this file. }}

<div type="{{lineType}}" ltype="{{lineType}}"

{{^isRemoteMessage}}
		mtype="{{nicknameType}}"
{{/isRemoteMessage}}

{{#isEncrypted}}
		encrypted="true"
{{/isEncrypted}}

  time="{{lineRenderTime}}"

	highlight="{{highlightAttributeRepresentation}}"
	class="line raw {{lineClassAttributeRepresentation}}"
	id="line{{lineNumber}}">

	<div class="nick">
  	<span class="sender"
			onclick="Textual.nicknameMaybeWasDoubleClicked(this)"
			oncontextmenu="Textual.openStandardNicknameContextualMenu()"
      mtype="{{nicknameType}}"
  		nickname="{{nickname}}"
  		{{#nicknameColorHashingEnabled}}
  			colornumber="{{nicknameColorNumber}}"
  		{{/nicknameColorHashingEnabled}}>{{formattedNickname}}
    </span>
	</div>
		<div class="msg">
	<p>
    {{#isEncrypted}}
    	{{{encryptedMessageLockTemplate}}}
    {{/isEncrypted}}
		<span class="time">{{formattedTimestamp}} </span>
		<span class="message">
					{{{formattedMessage}}}

					{{#inlineMediaAvailable}}
						{{#inlineMediaArray}}
							<a href="{{{anchorLink}}}" onclick="return Textual.toggleInlineImage('{{anchorInlineImageUniqueID}}');" class="hasinlineimage"><img id="inlineImage-{{anchorInlineImageUniqueID}}" src="{{{imageURL}}}" style="max-width: {{preferredMaximumWidth}}px;" title="Hide image by shift clicking." /></a>
						{{/inlineMediaArray}}
					{{/inlineMediaAvailable}}
		</span>
	</p>
	</div>
</div>